@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dark {
  color: #fff;
  background-image: radial-gradient(circle at center, #080808,#000);
}

.light {
  color: #080808;
  background-color: aliceblue;
}